.editor_pane {
	min-height: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.clear {
	color: -webkit-link;
	color: -moz-hyperlinkText;
	cursor: pointer;
}

.editor_wrapper {
	min-height: 0;
	flex-grow: 1;
}
