html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

body {
	min-height: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

body:not(.loading) > .loading {
	display: none;
}

body.loading > :not(.loading) {
	display: none;
}

.gap {
	flex-grow: 1;
	margin-left: 0;
}

.import_pane {
	display: flex;
	align-items: center;
}

.import_pane :nth-child(n+2) {
	margin-left: 1ex;
}

.editor_pane {
	min-height: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.clear {
	color: -webkit-link;
	color: -moz-hyperlinkText;
	cursor: pointer;
}

.editor_wrapper {
	min-height: 0;
	flex-grow: 1;
}

.cm-editor {
	cursor: initial;
	height: 100%;
}

.cm-scroller {
	overflow: auto;
}
